body {
  background-image: url('/img/old_map.png');
  font-family: Helvetica, Arial, sans-serif;
  min-width: 1150px;
  padding: 0px;
  margin: 0px;
}

#debug {
  display: none;
  position: absolute;
  right: 0;
  top: 0; 
  color: #fff; 
  background-color: #000; 
  z-index: 100000;
}

#title {
  position: absolute;
  top: 5px;
  left: 25px;
  color: #000;
  z-index: 5;
}

#achievementList {
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-left: 0;
}

#menu {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

#help {
  color: #000;
  z-index: 5;
}

#help:hover {
  color: #c00;
  cursor: pointer;
}

#togglemusic {
  color: #000;
  z-index: 5;
}

#togglemusic:hover {
  color: #c00;
  cursor: pointer;
}

#kissthebutthole {
  position: absolute;
  top: 410px;
  left: 455px;
  z-index: 6;
  display:none;
}

#gamecontainer {
  margin: 0 auto;
  width: 800px;
  height: 777px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index: 1;
}

#gamecanvas {
  z-index: 10;
  position: absolute;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#game {
  position: absolute;
  width: 800px;
  height: 777px;
  z-index: 50;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#touchscreen {
  position: absolute;
  width: 800px;
  height: 777px;
  z-index: 9999;
  margin: 0 auto;
  opacity: 0.5;
}

.kiss {
  background-image: url('/img/lipstick-64.png');
  height: 56px;
  width: 64px;
  position: absolute;
  z-index: 100;
}

#kissCount {
  font-size: 2.0em;
}

#streakCount {
  font-size: 2.0em;
} 

.green {
  color: #13AD42;
}

#adcontainer {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
